.alert-success {
    background-color: green;
}

.alert-warning {
    background-color: #5C4033;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    color: #BDBC70;
    font-size:16;
    font-weight: bolder;
    background-color: #3d2b22;
    height:22px;
}

div,h1{font-family: Verdana;}
nav{ background-color: burlywood; height:25px;}
a:hover{color:olive; font-weight: bold;}
nav li{display: inline;}
nav li a{font-family: Verdana;font-size: 15; color:#5C4033}
input{border-radius: 15%;}
body{
    background-color: olivedrab;
    color: beige;
}